@model DatabaseLibrary.Models.SkillDetail

<div class="standardBackground allPagesBackground">
    <div class="container">
        @if (TempData["deleteDetailMessage"] != null)
    {
        <div class="container">
            <div class="alert alert-success alert-dismissable text-center">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                @TempData["deleteDetailMessage"]
            </div>
        </div>

}
        <div class="card">
            <h4 class="card-header text-center">Are you sure you want to delete this detail?</h4>
            <div class="card-block">
                <div>
                    <dl class="dl-horizontal">
                        <dd class="text-center">
                            @Html.DisplayFor(model => model.DetailName)
                        </dd>
                    </dl>
                    <br />
                    <div class="text-center">
                        <form asp-action="DeleteDetail">
                            <input type="hidden" asp-for="SkillDetailId" />
                            <input type="submit" value="Delete" class="btn btn-primary btn-raise" />
                            <a asp-action="IndexSkillsDetailsFocus" class="btn btn-danger btn-raise">Go Back</a>
                        </form>
                    </div>

                </div>

            </div>
        </div>
    </div>


</div>

