@model AddFocusViewModel

<div class="standardBackground allPagesBackground">
    <div class="container">
        @if (TempData["editFocusMessage"] != null)
        {
            <div class="container">
                <div class="alert alert-success alert-dismissable text-center">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    @TempData["editFocusMessage"]
                </div>
            </div>

        }
        <div class="card ">
            <h4 class="card-header text-center">Edit Focus</h4>
            <div class="card-block">
                <form asp-action="EditFocus" asp-controller="Admin" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="FocusType" class="control-label"></label>
                        <input asp-for="FocusType" class="form-control no-border" />
                        <span asp-validation-for="FocusType" class="text-danger"></span>
                    </div>
                    <div class="text-center">
                        <input type="submit" value="Edit Focus" class="btn btn-primary btn-raise " />
                        <a asp-action="Dashboard" class="btn btn-danger btn-raise">Go Back</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

