@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Localization
@inject IViewLocalizer Localizer
@inject IStringLocalizer<SharedResource> SharedLocalizer
@inject IHtmlLocalizer<SharedResource> SharedHtmlLocalizer
@using CompanyFinderAdmin
@{
    ViewData["Title"] = "ThankYou";
}

<div class="standardBackground allPagesBackground">

    <div class="standard-container">
        <h2 class="display-4">@SharedLocalizer["Thank you for submitting your companies information."]</h2>
        <h1 class="display-4">@SharedLocalizer["We'll be in contact shortly."]</h1>
    </div>

</div>

